p{
    color: dodgerblue;
}

.active {
  background-color: #4CAF50;
}

ul {
  font-family: "Comic Sans MS", cursive, sans-serif;
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
    border-right: 2px solid #bbb;
}

li a {
   display: block;
    color: black;
    text-align: center;
    padding: 14px 130px;
    text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

#contact{
    float:right;
    background-color: deepskyblue;
}
header, footer{
    font-family: "Comic Sans MS";
    text-align: center;
	position: relative;
    color:#F5ECCE;
    font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;

}

body{
	background-color:#424242;
    background-position: center;
    background-size: cover;
}
h3{
    text-decoration:underline;
}

h1{
    text-align: center;
    color:azure;
}
h2{
    color:azure;
}

#float2{
    height: 40px;
    width: 40px;
}

fieldset{
    text-align: center;
    background-color: cornsilk;
    margin-bottom: 50px;
}
#field{
    color: black;
}
.clear{
    clear:both;
}

select{
    width: 65px;
}
#country{
    width:100px;
}

#normalList{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
    display: block;
    text-align: center;
    float:none;
}